.container {
        max-width: 1500px;
        background: white;
        margin: 0px auto;
        padding: 40px;
        border-radius: 8px;
    }

    header {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 40px;
        border-bottom: 2px solid #ddd;
        padding-bottom: 25px;
    }

    header img {
        width: 170px;
        height: 170px;
        border-radius: 10px;
        object-fit: cover;
        background: #eee;
    }
    header h1 {
        margin: 0;
        font-size: 32px;
    }

    header p {
        margin: 5px 0;
        font-size: 14px;
        color: #444;
        text-align:left;
    }
    main {
        display: grid;
        grid-template-columns: 30% 1fr;
        gap: 40px;
    }

    h2 {
        margin: 0;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #333;
    }

    .line {
        width: 100%;
        height: 2px;
        background: #ddd;
        margin: 8px 0 15px;
    }

    section {
        margin-bottom: 35px;
    }

    ul {
        margin: 0;
        padding-left: 20px;
    }

    ul li {
        margin-bottom: 8px;
        line-height: 1.4;
    }

    .right-section p {
        line-height: 1.6;
    }
    .left{
        padding-left: 200px;
    }
    .right{
        padding-left:100px;
    }


